#banner {
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	&.section:after {
		margin-top: 0 !important;
	}

	.container {
	    position: relative;
		overflow: hidden;
		padding: 2rem 0;
		border: 1px solid #FFF;

		&:before, &:after {
			content: "";
			position: absolute;
			z-index: 2;
			width:45%;
			height: 8px;
			left: 12.5%;
			border-radius: 100px / 5px;
			box-shadow:0 0 30px rgba(0, 0, 0, 0.12);
		}

		&:before {
			top: -10px;
		}

		&:after {
			bottom: -10px;
		}

		p.buttons {
			margin-top: 1rem;
		}

		.banner-photo {
			padding-right: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.badges {
				display: flex;
				justify-content: center;

				> img {
					display: inline-block;

					&:nth-child(1){
						padding-right: 0.5rem;
					}

					&:nth-child(2){
						padding-left: 0.5rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1023px){

	#banner {
		.banner-photo {
			padding-left: 0.25rem;
		}

		.container {
			p.buttons {
				margin-top: -.25rem;
			}
		}
	}

}
